

{% from "components/posting/posting.html" import posting %}
{% macro posting_table(postings) %}
<table class="w-100">
    <tr class="text-left">
        <th>
            Amount
        </th>
        <th>
            Category
        </th>
        <th>
            Description
        </th>
        <th>
            Created
        </th>
    </tr>
    {% for post in postings %}
        {{ posting(post.amount, post.description, post.created, post.cid) }}
    {% endfor %}
    
</table>
{% endmacro %}
