{% from "components/posting/posting.html" import posting %} {% macro
posting_table(postings) %}
<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Amount</th>
			<th scope="col">Posting date</th>
			<th scope="col">Type</th>
			<th scope="col">Category</th>
			<th scope="col">Description</th>
		</tr>
	</thead>
	<tbody>
		{% for post in postings %} 
		{{ posting(post.amount, post.description, post.created, post.cid, post.category_name, post.posting_date, post.type_name) }} 
		
		{% endfor %}
	</tbody>
</table>
{% endmacro %}
