{% extends "layout.html" %} {% block title %}Budget | {{ ledger.ledger_name }}{%
endblock %} {% from "components/ledger_links.html" import ledger_links %} {%
block content %}
<h1>Ledger: {{ ledger.ledger_name }}</h1>
<hr />
{{ ledger_links(ledger) }}
<section>
	<h2>Budget</h2>
	<div>
		<h3>Budget entries (should be removed):</h3>
		<ul>
			{% for entry in budget %}
			<li>
				bid: {{ entry.bid }}, lid: {{ entry.lid }}, cid: {{ entry.cid }}, year
				id: {{ entry.year_id }}, type id: {{ entry.type_id }}, amount: {{
				entry.amount }}
			</li>
			{% endfor %}
		</ul>
		<h3>ledger years</h3>
		{% from "components/budget/year_table.html" import year_table %}
		<div class="d-flex gap-3 mb-4">
			<form method="POST">
				<!-- <input type="number" name="year" value="{{ year or 2026 }}" required> -->
				<button
					type="submit"
					name="action"
					value="add_year"
					class="btn btn-success">
					Add year
				</button>
			</form>
		</div>
		<div>
			{% for b in budget_years %} {{ year_table(b, budget, categories) }} {%
			endfor %}
		</div>
	</div>
</section>

<!-- <section>
    <h2>Budget</h2>
    {% if year %}
        <h3>Budget for {{ year }}</h3>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Month</th>
                    {% for c in categories %}
                        <th>{{ c.category_name }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for month in months %}
                <tr>
                    <td>{{ month.name }}</td>

                    {% for c in categories %}
                    <td>
                        <input
                            type="number"
                            step="0.01"
                            class="form-control"
                            name="amount_{{ month.number }}_{{ c.cid }}"
                            value="0">
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <button class="btn btn-primary">Save budget</button>
    {% endif %}
</section> -->
{% endblock %}
