{% extends "layout.html" %}

{% block title %}Ledger | {{ ledger.ledger_name }}{% endblock %}

{% block content %}
{% from "components/header/header.html" import header %}
<hr />
{% from "components/ledgers/ledger_links.html" import ledger_links %}
<h1>Ledger: {{ ledger.ledger_name }} </h1>
{{ ledger_links(ledger) }}

<div class="category-section">
    <h3>Categories</h3>

    <div class="category-grid">
        {% for c in categoryTotals %} 
            <div class="category-card">
                <span>{{ c.category_name }}</span>
                <small>{{ c.total_amount }}</small>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}