{% from "components/ledger.html" import ledger %} {% extends "layout.html" %} 

{% block title %}Ledger | {ledger.ledger_name}{% endblock %} 

{% block content %}
<div class="py-12 h-12 flex items-center">
	<form
		method="POST"
		action="/ledgers">
		<input
			type="hidden"
			name="action"
			value="create" />
		<input
			type="text"
			name="ledger_name"
			placeholder="Enter ledger name"
			required />
		<button
			class="block px-12 py-6 border border-black"
			type="submit">
			Add Ledger
		</button>
	</form>
</div>
<div class="px-24">
	{% from "components/header.html" import header %} {{header("Ledgers")}}

	<div class="flex flex-row w-full gap-6">
		{% for l in ledgers %} {{ ledger(l) }} {% endfor %}
	</div>
</div>

{% endblock %}
