{% extends "layout.html" %} {% block title %}Ledger | {{ ledger.ledger_name }}{%
endblock %} {% block content %} {% from "components/header/header.html" import
header %}
<h1>Ledger: {{ ledger.ledger_name }}</h1>
<hr />
{% from "components/ledgers/ledger_links.html" import ledger_links %}
{% from "components/budget/create_category.html" import create_category_form %}
{{ ledger_links(ledger) }}
<div class="card my-3">
	<div class="card-body">
		On this page you can see an overview of your ledger. <br>
		The value of the <b>postings</b> is compared to the <b>budget</b>. <br>
	</div>
</div>

<div class="category-section">
	<h3>Categories</h3>

	<p>til Thomas - vis beløb brugt pr. kategori, budget pr. kategori. Hvor mange procent af budgettet er faktisk nået? Hvor mange penge er der tilbage i budgettet.</p>
	<p>Vis også total income, expenses, savings for budget og postings</p>

	<form method="POST">
		<input
			type="hidden"
			name="action"
			value="update-timeframe" />
		<select name="year">
			{% for year in ledger_years %}
			<option value="{{ year.ledger_year }}">{{ year.ledger_year }}</option>
			{% endfor %}
		</select>
		<select name="month">
			<option value="all">All year</option>
			<option value="1">January</option>
			<option value="2">February</option>
			<option value="3">March</option>
			<option value="4">April</option>
			<option value="5">May</option>
			<option value="6">June</option>
			<option value="7">July</option>
			<option value="8">August</option>
			<option value="9">September</option>
			<option value="10">October</option>
			<option value="11">November</option>
			<option value="12">December</option>
		</select>
		<button type="submit">Update</button>
	</form>


	<h3>Expenses</h3>
	<table class="table">
		<thead>
            <tr>
                <th>Category</th>
                <th>Postings</th>
                <th>Budget</th>
                <th>% Used</th>
            </tr>
        </thead>
    	<tbody>
        	{% for entry in percentages %}
            	{% if entry.budgetID == 1 %}
            	<tr class="table-danger">
                	<td>{{ entry.category_name }}</td>
                	<td>{{ entry.totalSum }}</td>
                	<td>{{ entry.budget }}</td>
                	<td>{{ entry.percentage }}%</td>
            	</tr>
            	{% endif %}
        	{% endfor %}
    	</tbody>
		<tfoot>
        	<tr>
            	<th>Total</th>
            	<td>{{ idList[0] }}</td>
				<td>{{ idList[3] }}</td>
            	<td></td>
            	<td></td>
        	</tr>
    	</tfoot>
	</table>
	<h3>Savings</h3>
	<table class="table">
		<thead>
            <tr>
                <th>Category</th>
                <th>Postings</th>
                <th>Budget</th>
                <th>% Used</th>
            </tr>
        </thead>
    	<tbody>
        	{% for entry in percentages %}
            	{% if entry.budgetID == 2 %}
            	<tr class="table-primary">
                	<td>{{ entry.category_name }}</td>
                	<td>{{ entry.totalSum }}</td>
                	<td>{{ entry.budget }}</td>
                	<td>{{ entry.percentage }}%</td>
            	</tr>
            	{% endif %}
        	{% endfor %}
    	</tbody>
		<tfoot>
        	<tr>
            	<th>Total</th>
            	<td>{{ idList[1] }}</td>
				<td>{{ idList[4] }}</td>
            	<td></td>
            	<td></td>
        	</tr>
    	</tfoot>
	</table>
	<h3>Income</h3>
	<table class="table">
		<thead>
            <tr>
                <th>Category</th>
                <th>Postings</th>
                <th>Budget</th>
                <th>% Used</th>
            </tr>
        </thead>
    	<tbody>
        	{% for entry in percentages %}
            	{% if entry.budgetID == 3 %}
            	<tr class="table-success">
                	<td>{{ entry.category_name }}</td>
                	<td>{{ entry.totalSum }}</td>
                	<td>{{ entry.budget }}</td>
                	<td>{{ entry.percentage }}%</td>
            	</tr>
            	{% endif %}
        	{% endfor %}
    	</tbody>
		<tfoot>
        	<tr>
            	<th>Total</th>
            	<td>{{ idList[2] }}</td>
				<td>{{ idList[5] }}</td>
            	<td></td>
            	<td></td>
        	</tr>
    	</tfoot>
	</table>
{% endblock %}
