<!DOCTYPE html>
<html>
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/output.css') }}">
    </head>
    <body>
        <div class="flex h-screen">
            <div class="w-2/5 bg-white flex items-center justify-center">
            <!-- Left part of login page--> 
                <div class="w-64 h-70 bg-gray-100 rounded-lg outline-1">
                    <h3>Login</h3>
                    
                    <p class="mb-1">Username</p>
                    <input type="text" class="w-64 h-10 bg-white rounded-lg outline-1 ml-1 mr-1 mb-3">

                    <p class="mb-1">Password</p>
                    <input type="password" class="w-64 h-10 bg-white rounded-lg outline-1 m-1 mb-3">
                    <a href="/home"><button class="w-64 h-10 bg-black rounded-lg outline-1 m-1 mt-3 text-white">Login</button></a>
                </div>

            </div>
            <div class="w-3/5 bg-indigo-200">
                
            </div>

        </div>
        

        

    </body>
</html>