<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='dist/output.css') }}" />
		  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />


	</head>
	<body>
		<div class="d-flex vh-100">
			<div class="w-40 bg-white d-flex align-items-center justify-content-center" style="width: 40%;">
				<!-- Left part of login page-->
				<div class="bg-light rounded p-4" style="width: 16rem;">
					<form
						action="/register"
						method="POST">
						<h3 class="mb-3">Register</h3>
						<p class="mb-1">Email (skal have group47)</p>
						<input
							type="text"
                            name="email"
                            required
							class="form-control mb-2" />
						<p class="mb-1">Password</p>
						<input
							type="password"
                            name="password"
                            required
							class="form-control mb-2" />
						
                        <input
							type="password"
                            name="password_repeat"
                            required
							class="form-control mb-3" />
						<div
						class="d-block">

							<button
                            type="submit"
							class="btn btn-dark w-100">
							Login
						</button>
					</div>
						</a>
					</form>
				</div>
			</div>
    <div class="flex-fill" style="background-color: #fec7ce;"></div>
		</div>
	</body>
</html>
